.cargando{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top:100px;
    margin-bottom:100px;
}

.item{
    border: 1px solid black;
    width: 300px;
    height: 400px;
    margin: 20PX;
}



